.container-banner a{
  background-color: #47dd88;
  border-radius:  32px;
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 36px;
  padding-right: 36px;
}

.social-icons{
  padding-top: 60px;
  font-size: 32px;
  letter-spacing: 4px;
  color: #47dd88;
}

.social-icons a{
  color: #47dd88;
}
